{% extends "internal/base.html" %}

{% block body %}

    <div class="ui container">
        <h1>Passord og koder</h1>

        <table class="ui table">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Passord/Kode</th>
            </tr>
            </thead>
            <tbody>
            {% for secret in favorite_secrets %}
                <tr>
                    <td><b>{{ secret.name }}</b><i class="icon yellow star"></i></td>
                    <td>
                        <div class="ui green button password-button">
                            Vis
                        </div>
                        <div class="make-hidden">
                            {{ secret.value }}
                        </div>
                    </td>
                </tr>
            {% endfor %}

            {% for secret in non_favorite_secrets %}
                <tr>
                    <td><b>{{ secret.name }}</b><i class="icon gray star"></i></td>
                    <td>
                        <div class="ui green button password-button">
                            Vis
                        </div>
                        <div class="make-hidden">
                            {{ secret.value }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(".password-button").click(function (e) {
            $(this).addClass("make-hidden").siblings().removeClass("make-hidden")
        })
    </script>
{% endblock %}