.ui.menu .item.active {
    background-color: rgb(248, 200, 17) !important;
}

.member-property-status {
    border-left: none !important;
    text-align: center !important;
    color: #ffffff;
}

.member-property-status:hover {
    cursor: default;
}

.member-property-status-popup-trigger {
    width: 100%;
}

.property-status {
    text-align: center;
    border: solid black;
    border-width: 0 1px 1px 1px;
    padding: 5px;
    background-color: #21ba45;
}

.property-status:first-of-type {
    border-top-width: 1px;
}

.property-status-invalid {
    background-color: #db2828 !important;
}

td span.right.floated {
    float: right;
}

th:hover {
    cursor: pointer !important;
}

@media screen and (max-width: 767px) {
    thead {
        display: none !important;
    }

    .mobile-header {
        font-weight: bold;
    }

    td:first-child {
        font-size: 1.2em;
    }

    .ui.table tr.make-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .mobile-header {
        display: none;
    }

}