{% extends "internal/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'internal/css/list.css' %}"/>
{% endblock head %}

{% block body %}
    <div class="ui container">
        <h1>Medlemsliste</h1>
        <div class="ui input">
            <input type="text" placeholder="Søk på medlemmer..." id="member-search">
        </div>

        <div class="ui compact menu right floated">
            <a class="item active" data-value="True">
                Aktive
            </a>
            <a class="item" data-value="False">
                Inaktive
            </a>
        </div>

        <table class="ui celled table" id="member-table">
            <thead>
            <tr id="table-header">
                <th>Navn <i class="icon sort down"></i></th>
                <th>Komité <i class="icon sort"></i></th>
                <th>Epost <i class="icon sort"></i></th>
                <th>Telefonnummer <i class="icon sort"></i></th>
                <th>Studieretning <i class="icon sort"></i></th>
                <th>Kortnummer <i class="icon sort"></i></th>
                <th>Internsystemer <i class="icon sort"></i></th>
            </tr>
            </thead>
            {% for member in members %}
                <tr class="member-row" data-search-text="{{ member.user.get_full_name }}"
                    data-active="{{ member.active }}">
                    <td data-sort="{{ member.user.get_full_name }}">
                        {{ member.user.get_full_name }}
                        <span class="right floated">
                            {% if member.user == request.user or perms.internal.can_edit_group_membership %}
                                <a href="{% url "change_member" member %}">
                                    <i class="pencil icon" title="Endre informasjon"></i>
                                </a>
                            {% endif %}
                            {% if member.user == request.user or perms.internal.can_register_new_member %}
                                <a href="{% url "activation_member" member %}" class="activation confirm">
                                <i class="icon {% if member.active %}red{% else %}green{% endif %} flag"
                                   title="Sett medlem til {% if member.active %}in{% endif %}aktivt"></i>
                                <div id="activation-modal" class="ui basic small modal">
                                    <div class="ui icon header">
                                        {% if member.active %}
                                            <i class="red flag icon"></i>
                                            Er du sikker på at du vil deaktivere medlemskapet til brukeren? Dette vil
                                            fjerne brukeren fra alle komitéer og fjerne alle relaterte tilganger.
                                            Styremedlemmer kan reaktiver medlemskapet i etterkant.
                                        {% else %}
                                            <i class="green flag icon"></i>
                                            Er du sikker på at du vil aktivere medlemskapet til brukeren? Dette vil
                                            legge brukeren til komitéene brukeren sist var medlem av, og gi brukeren de
                                            respektive tilgangene.
                                        {% endif %}
                                    </div>
                                    <div class="actions">
                                        <div class="ui red inverted delete button">
                                            {% if member.active %}
                                                <i class="red flag icon"></i>
                                                Deaktiver
                                            {% else %}
                                                <i class="green flag icon"></i>
                                                Aktiver
                                            {% endif %}
                                        </div>
                                        <div class="ui white ok inverted button">
                                            <i class="cancel icon"></i>
                                            {% if member.active %}
                                                Kanseller deaktiveringen
                                            {% else %}
                                                Kanseller aktiveringen
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                        </span>
                    </td>
                    <td data-sort="{{ member.get_committee }}">
                        {{ member.get_committee }}
                    </td>
                    <td data-sort="{{ member.email }}">{{ member.email }}</td>
                    <td data-sort="{{ member.phone_number }}">{{ member.phone_number }}</td>
                    <td data-sort="{{ member.study_program }}">{{ member.study_program }}</td>
                    <td data-sort="{{ member.card_number }}">{{ member.card_number }}</td>

                    {% localize off %}
                        {% with member.properties_status as properties_status %}
                            <td class="member-property-status" style="
                                    background: -webkit-linear-gradient(left, #21ba45 {{ properties_status }}%, #db2828 {{ properties_status }}%);
                                    " data-sort={{ properties_status }}>
                                <div class="member-property-status-popup-trigger">{{ properties_status|floatformat:2 }}%</div>
                                <div class="ui flowing popup right transition hidden">
                                    <b>System statuser:</b>
                                    {% for property in member.memberproperty_set.all %}
                                        <div class="property-status {% if not property.value %}property-status-invalid{% endif %}">
                                            {{ property.name }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        {% endwith %}
                    {% endlocalize %}
                </tr>
            {% endfor %}
        </table>

        {% if perms.internal.can_register_new_member %}
            <a href="{% url 'new_member' %}">
                <div class="ui blue button right floated">
                    Registrer nytt medlem
                </div>
            </a>
        {% endif %}
    </div>

    <form id="delete-form" method="post">{% csrf_token %}</form>

    <script>
        $('.activation.confirm').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $('#delete-form').attr('action', url);
            $(this).find('#activation-modal .delete.button').click(function (e) {
                $('#delete-form').submit();
            });
            $(this).find('#activation-modal').modal('show');
        });

        let sort_column = 0;
        let order = "asc";
        let search = "";
        let active = "True";

        $("#member-search").on("keyup", function (e) {
            search = e.target.value.toLowerCase();
            filter();
        });

        const menuNav = $('.ui.compact.menu .item');
        menuNav.on('click', function (item) {
            menuNav.removeClass('active');
            $(this).addClass('active');
            active = $(this).data("value");
            filter();
        });

        function filter() {
            $(".member-row").sort(order_rows).each(function () {
                $(this).toggleClass("make-hidden", !$(this).data("search-text").toLowerCase().includes(search) || $(this).data("active") !== active);
            }).appendTo($("#member-table"));
        }

        function order_rows(row1, row2) {
            const value_row1 = $($(row1).children()[sort_column]).data("sort");
            const value_row2 = $($(row2).children()[sort_column]).data("sort");

            if (order === "asc") {
                return value_row1 > value_row2;
            }
            return value_row2 > value_row1;
        }

        $(".icon.sort").parent().click(function (e) {
            const selected_column = $(this).parent().children().index($(this));
            if (selected_column === sort_column) {
                if (order === "asc") {
                    $(this).find("i").removeClass("down").addClass("up");
                    order = "desc"
                } else {
                    $(this).find("i").addClass("down").removeClass("up");
                    order = "asc"
                }
            } else {
                $($("#table-header").children()[sort_column]).find("i").removeClass("down").removeClass("up");
                sort_column = selected_column;
                order = "asc";
                $(this).find("i").addClass("down")
            }
            filter();
        });

        filter();

        $(".member-property-status-popup-trigger").popup({
            on: "hover"
        })
    </script>
{% endblock body %}


